
*{
    text-align: center;
    font-family:'Merriweather', serif; 
    margin: 0%;
    padding: 0%;
}

.container{
    padding-top: 50px;
    background-color: rgb(235, 245, 243);
    background-size: cover;
    text-align: center;
    
}

.cloud1{
    position: relative;
    left: 30%;
    width: 120px;
}

.cloud2{
    position: relative;
    bottom: 200px;
    right: 200px;
    width: 120px;

}


h1{
        font-family:'Sacramento', cursive;
        color: rgba(15, 75, 75, 0.829);
        font-size: 50px;
        height: 100px;
        font-weight: bold;
    }

    
.pro{
        text-decoration: underline;
        color: rgba(15, 75, 75, 0.829);
    }

.my-p{
        font-family: sans-serif;
        color:rgba(15, 75, 75, 0.829);
        font-size: 30px;
        height: 50px;
    }
.mountain{
    width: 500px;
    position: relative;
    text-align: center;
    right: 50px;

}
.profile-img{
    height: 200px;
    width: 200px;
}

.container2{
    margin-top: 50px;
    padding: 0 20% 0 20%;
}

.hello{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(26, 181, 241);
    margin-bottom: 20px;
    font-size: 30px;
}

.hello2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:rgb(26, 181, 241);
    font-size: 30px;
    margin-bottom: 70px;
    
}

.pa{
    font-size: 13px;
    margin-bottom: 10px;

}

.pa2{
    font-size: 13px;
    margin-bottom: 70px;

}

.my-p2{
    font-size: 13px;
    margin-bottom: 10px;
}

.first-hr{

    border: 2px solid green;
    border-style: dotted;
    width: 70px;
    position: relative;
    left: 440px;
    margin-bottom: 70px;

}



.first2-hr{

    border: 2px solid green ;
    border-style: dotted;
    width: 70px;
    position: relative;
    left: 200px;
    top: 40px;
    bottom: 50px;

}

.second-hr{
    height: 9px;border-width:0;color:gray;background-color:rgb(1, 32, 11);
    width: 800px;
    position: relative;
    right: 170px;
    bottom: 20px;
}

.computer{
    height: 180px;
    width: 180px;
   float: left;
   position: relative;
   right: 150px;
   bottom: 10px;
}

.container3{
    padding: 0 25% 0 25%; 
    text-align: left;
}

.my-h3{
    font-size: 15px;
    color: rgb(26, 181, 241);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right: 150px;

    
}

.my-p3{
    font-size: 13px;
    position: relative;
    right: 140px;
    width: 650px;
    top: 30px;
}


.my-pp3{
    font-size: 13px;
    position: relative;
    right: 140px;
    width: 650px;
    top: 40px;
}

.second-hr2{
    height: 9px;border-width:0;color:gray;background-color:rgb(1, 32, 11);
    width: 800px;
    position: relative;
    right: 170px;
    bottom: 5px;
}

.my2-h3{
    font-size: 15px;
    color: rgb(26, 181, 241);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right: 220px;
    top: 20px;
    margin-bottom: 40px;

}

.my-pa3{
    margin-left: -180px;
    padding: 0%;
    right: 180px;
    font-size: 13px;
    font-stretch: expanded;
    width: 800%;
    padding-right: 100px;
}

.my2-pa3{
    margin-left: -180px;
    padding: 0%;
    right: -7px;
    font-size: 13px;
    font-stretch: expanded;
    width: 500%;
    margin-top: 10px;
}

.my3-pa3{
    margin-left: -440px;
    padding: 0%;
    right: 100px;
    font-size: 13px;
    font-stretch: expanded;
    width: 500%;
    margin-top: 10px;
}


.my2-pa3{
    position: relative;

    font-size: 13px;
    font-stretch: expanded;
    width: 500%;
}



.teach{
    height: 200px;
    width: 200px;
    float: right;
    position: relative;
    left: 160px;
}

.container4{
    margin-bottom: 100px;
}

.container5{
    margin: 0px;
    background-color: lightgray;
    background-size: cover;
    position: relative;
    top: 130px;
    height: 1100px;
    



}

.my-h2{
    color: rgb(11, 95, 11);
    font-family:  sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    position: relative;
    top: 80px;
    right: 25px;
}

.third-hr{
    height:5px;border-width:0;color:rgb(26, 181, 241);background-color:rgb(26, 181, 241);
    width: 380px;
    position: relative;
    left: 575px;
    top: 85px;
}

.final-imgs{
    height: 400px;
    width: 400px;
    transition: transform .6s;
    position: relative;
    top:  150px;
}

.final-imgs:hover{
    /* transition: transform .6s;
    width: 320px
    height: 320px;
    margin: 0 auto; */
    transform: scale(1.1); 
}

.first3-hr{

    border: 2px solid green;
    border-style: dotted;
    width: 70px;
    position: relative;
    left: 750px;
    top: 180px;

}

.helloo2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:rgb(26, 181, 241);
    font-size: 30px;
    position: relative;
    top: 250px;
}

h6{
    color: rgb(0, 102, 136);
    position: relative;
    top: 280px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    
}

.my-p33{
    font-size: 13px;
    position: relative;
    left: 470px;
    width: 650px;
    top: 305px;
}

.my-btn{
    background-color: rgb(101, 148, 165) ;
    border-color: white;
    position: relative;
    left: 250px;
    height: 40px;
    width: 140px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    top: 350px;
    border: none;
}

.my-btn:hover{
    background-color:yellowgreen;
    border-color: white;
}

.container-fluid{
    background-color:  rgb(115, 145, 156);
    margin-top: 400px;
    padding-top: 50px;
    height: 150px;
}

.links{
    text-decoration: none;
    margin: 50px;
    font-size: 12px;
    color: rgb(40, 84, 95);
}

.footer-p{
    margin-top: 80px;
    color: white;
    font-size: 14px;
}


